body{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #222, #333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #222, #333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
    font-family: 'Montserrat', sans-serif;
}

.jumbotron{
    background: none;
    color: #ddd;
    border-bottom: 1px solid #666;
}


#main-card, #second-card{
    padding: .5em 1em;
}

.card{
    background: #444;
    color: #ddd;
}

.card-header{
    background: none;
    border-bottom: none;
}

ul.list-group.list-group-flush{
    border: 0;
}

table{
    background: #fff;
}